<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/estilo.css" type="text/css" />
		<title>Arkham Asylum</title>
	</head>
	<body>
		<div class="contenedor">
			<nav>
				<ul>
					<li><a href="inicio.html">Inicio</a></li>
					<li><a href="criminales.html">Criminales</a></li>
					<li><a href="delitos.html">Delitos</a></li>
					<li><a href="celdas.html">Celdas</a></li>
					<li><a href="personal.html">Personal</a></li>
                    <li class="cargar"><a href="cargar_criminal.html">Cargar Criminal</a></li>
				</ul>
			</nav>
			<main>
				<header>
					<div class="header-overlay">
						<div class="header-text">
							<h1>Arkham Asylum</h1>
							<p>Centro de rehabilitación y tratamiento de individuos con trastornos extremos.</p>
						</div>
					</div>
				</header>
				<section class="secciones">
					<p class="titulos">Arkhan System</p>
					<p>
                        Asilo Arkham, líder mundial en el tratamiento y rehabilitación de individuos con trastornos mentales extremos. Desde 1921, nuestra misión ha sido proporcionar atención especializada combinando ciencia avanzada, seguridad de máxima categoría y un profundo compromiso con la recuperación de nuestros pacientes.
					</p>
				</section>
				<section class="secciones">
					<p class="titulos">Informacion general</p>
					lego batman

				</section>


				<section class="secciones">
					<p class="titulos">Personal</p>
					<table class="tabla-criminales">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Apodo</th>
								<th>Edad</th>
								<th>género</th>
								<th>tratamiento</th>
								<th>peligrosidad</th>
								<th>Personal a Cargo</th>
								<th>celda</th>

							</tr>
						</thead>
						<tbody id="criminales-data">
							
						</tbody>
					</table>
				</section>


			</main>

			<footer>
				<p>hecho por batman</p>
			</footer>
		</div>

		<script>
			fetch('http://127.0.0.1:3002/api/v1/criminales')
			.then(response => response.json())
			.then(criminales => {
				console.log(criminales);
	
				let tabla = document.getElementById('criminales-data');
				criminales.forEach(criminal => {
					let tr = document.createElement('tr');
	
					let nombre = document.createElement('td');
					nombre.textContent = criminal.nombre;  
	
					let apodo = document.createElement('td');
					apodo.textContent = criminal.apodo;
	
					let edad = document.createElement('td');
					edad.textContent = criminal.edad;  
	
					let genero = document.createElement('td');
					genero.textContent = criminal.genero;  
	
					let tratamiento = document.createElement('td');
					tratamiento.textContent = criminal.tratamiento;

					let peligrosidad = document.createElement('td');
					peligrosidad.textContent = criminal.peligrosidad;
					

					let personal_asignado = document.createElement('td');
					personal_asignado.textContent = criminal.personal_asignado;


					let celda = document.createElement('td');
					celda.textContent = criminal.celda;
	
					tr.appendChild(nombre);
					tr.appendChild(apodo);
					tr.appendChild(edad);
					tr.appendChild(genero);
					tr.appendChild(tratamiento);
					tr.appendChild(peligrosidad);
					tr.appendChild(personal_asignado);
					tr.appendChild(celda);
					tabla.appendChild(tr);  
				});
			})
		</script>


	</body>
</html>