<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/estilo.css" type="text/css" />
        <title>Arkham Asylum</title>
    </head>
    <body>
        <div class="contenedor">
            <nav>
                <ul>
                    <li><a href="inicio.html">Inicio</a></li>
                    <li><a href="criminales.html">Criminales</a></li>
                    <li><a href="delitos.html">Delitos</a></li>
                    <li><a href="celdas.html">Celdas</a></li>
                    <li><a href="personal.html">Personal</a></li>
                    <li class="cargar"><a href="cargar_criminal.html">Cargar Criminal</a></li>
                </ul>
            </nav>
            <main>
                <header>
                    <div class="header-overlay">
                        <div class="header-text">
                            <h1>Arkham Asylum</h1>
                            <p>Centro de rehabilitación y tratamiento de individuos con trastornos extremos.</p>
                        </div>
                    </div>
                </header>
                <section class="secciones">
                    <p class="titulos">Arkhan System</p>
                    <p>
                        Asilo Arkham, líder mundial en el tratamiento y rehabilitación de individuos con trastornos mentales extremos. Desde 1921, nuestra misión ha sido proporcionar atención especializada combinando ciencia avanzada,
                        seguridad de máxima categoría y un profundo compromiso con la recuperación de nuestros pacientes.
                    </p>
                    <p class="titulos">Información general</p>
                    <p>Introduce los datos para cargar un nuevo delito:</p>

                    <button id="mostrarFormulario">Cargar Delito</button>

                    <!-- FORMULARIO OCULTO -->
                    <div id="formularioDelito" style="display: none;">
                        <form id="formDelito">
                            <label for="criminal_id">Criminal:</label>
                            
                            <select id="criminal_id" name="criminal_id" >
                                <option value="" disabled selected>Selecciona un criminal</option>
                            </select>
                            <br />

                            <label for="descripcion">Descripción:</label>
                            <textarea id="descripcion" name="descripcion" required></textarea><br />

                            <label for="fecha">Fecha:</label>
                            <input type="date" id="fecha" name="fecha" required /><br />

                            <label for="sentencia">Sentencia Judicial:</label>
                            <input type="text" id="sentencia" name="sentencia" required /><br />

                            <label for="lugarDelito">Lugar del Delito:</label>
                            <input type="text" id="lugarDelito" name="lugarDelito" required /><br />

                            <label for="estadoDelito">Estado del Delito:</label>
                            <input type="text" id="estadoDelito" name="estadoDelito" required /><br />

                            <label for="prioridad">Prioridad:</label>
                            <select id="prioridad" name="prioridad" required>
                                <option value="baja">Baja</option>
                                <option value="media">Media</option>
                                <option value="alta">Alta</option>
                            </select>
                            <br />

                            <button type="submit">Enviar Delito</button>
                        </form>
                    </div>
                </section>

                <section class="secciones">
                    <p class="titulos">Delitos</p>
                    <table class="tabla-delitos">
                        <thead>
                            <tr>
                                <th>Criminal n°</th>
                                <th>Descripcion</th>
                                <th>Fecha</th>
                                <th>Sentencia</th>
                                <th>Lugar</th>
                                <th>Estado</th>
                                <th>Prioridad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="delitos-data"></tbody>
                    </table>
                </section>
            </main>

            <footer>
                <p>hecho por batman</p>
            </footer>
        </div>
        <script>
            // ACTUALIZAR CONTENIDO DE LA TABLA
            function actualizarDelitos() {
                fetch("http://127.0.0.1:3002/api/v1/delitos")
                    .then((response) => response.json())
                    .then((delitos) => {
                        let tabla = document.getElementById("delitos-data");
                        tabla.innerHTML = ""; 
                        delitos.forEach((delito) => {
                            let tr = document.createElement("tr");
        
                            let criminal_id = document.createElement("td");
                            criminal_id.textContent = delito.criminal_id ;
        
                            let descripcion = document.createElement("td");
                            descripcion.textContent = delito.descripcion;
                            descripcion.className = "td-descripcion"; 
        
                            let fecha = document.createElement("td");
                            fecha.textContent = delito.fecha;
        
                            let sentencia_judicial = document.createElement("td");
                            sentencia_judicial.textContent = delito.sentencia_judicial;
        
                            let lugarDelito = document.createElement("td");
                            lugarDelito.textContent = delito.lugarDelito;
        
                            let estadoDelito = document.createElement("td");
                            estadoDelito.textContent = delito.estadoDelito;
        
                            let nivelPrioridad = document.createElement("td");
                            nivelPrioridad.textContent = delito.nivelPrioridad;
        
                            // COLUMNA DE ACCIONES CON BOTONES
                            let acciones = document.createElement("td");
        
                            
                            let editarBtn = document.createElement("button");
                            editarBtn.textContent = "Editar";
                            editarBtn.onclick = () => editarDelito(delito.numero_delito);
                            acciones.appendChild(editarBtn);
        
                            let eliminarBtn = document.createElement("button");
                            eliminarBtn.textContent = "Eliminar";
                            eliminarBtn.onclick = () => eliminarDelito(delito.numero_delito);
                            acciones.appendChild(eliminarBtn);
        
                            tr.appendChild(criminal_id);
                            tr.appendChild(descripcion);
                            tr.appendChild(fecha);
                            tr.appendChild(sentencia_judicial);
                            tr.appendChild(lugarDelito);
                            tr.appendChild(estadoDelito);
                            tr.appendChild(nivelPrioridad);
                            tr.appendChild(acciones); 
        
                            tabla.appendChild(tr);
                        });
                    })
                    .catch((error) => {
                        console.error("Error al actualizar la lista de delitos:", error);
                    });
            }
        
            fetch("http://127.0.0.1:3002/api/v1/criminales")
                .then((response) => response.json())
                .then((criminales) => {
                    let selectCriminal = document.getElementById("criminal_id");
                    criminales.forEach((criminal) => {
                        let option = document.createElement("option");
                        option.value = criminal.id;
                        option.textContent = ` ${criminal.nombre}  (${criminal.apodo})`;
                        selectCriminal.appendChild(option);
                    });
                })
                .catch((error) => {
                    console.error("Error al cargar los criminales:", error);
                });
        
            // MOSTRAR EL FOMRULARIO DE CARGAR DELITO
            document.getElementById("mostrarFormulario").addEventListener("click", function () {
                document.getElementById("formularioDelito").style.display = "block";
                document.getElementById("formDelito").reset();
                document.getElementById("formDelito").dataset.action = "create";
            });
        
            // ENVIAR EL FORMULARIO Y CREAR/ACTUALIZAR DELITO
            document.getElementById("formDelito").addEventListener("submit", function (event) {
                event.preventDefault(); 
        
                const action = event.target.dataset.action; // VERIFICA SI ES CREATE O UPDATE
                const numeroDelito = event.target.dataset.numeroDelito; 
        
                const newDelito = {
                    criminal_id: parseInt(document.getElementById("criminal_id").value),
                    descripcion: document.getElementById("descripcion").value,
                    fecha: document.getElementById("fecha").value,
                    sentencia_judicial: document.getElementById("sentencia").value,
                    lugarDelito: document.getElementById("lugarDelito").value,
                    estadoDelito: document.getElementById("estadoDelito").value,
                    nivelPrioridad: document.getElementById("prioridad").value,
                };
        
                if (action === "update") {
                    // ACTUALIZAR DELITO
                    fetch(`http://127.0.0.1:3002/api/v1/delitos/${numeroDelito}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(newDelito),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            alert("Delito actualizado!");
                            actualizarDelitos();
                            document.getElementById("formularioDelito").style.display = "none";
                        })
                        .catch((error) => {
                            console.error("Error al actualizar el delito:", error);
                            alert("Hubo un error al actualizar el delito.");
                        });
                } else {
                    // CREAR DELITO
                    fetch("http://127.0.0.1:3002/api/v1/delitos", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(newDelito),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            alert("Delito cargado con éxito!");
                            document.getElementById("formularioDelito").style.display = "none";
                            actualizarDelitos(); 
                        })
                        .catch((error) => {
                            console.error("Error al cargar delito:", error);
                            alert("Hubo un error al cargar el delito.");
                        });
                }
            });
        
            // ELIMINAR DELITO
            function eliminarDelito(numeroDelito) {
                fetch(`http://127.0.0.1:3002/api/v1/delitos/${numeroDelito}`, {
                    method: "DELETE",
                })
                    .then((response) => response.json())
                    .then((data) => {
                        alert("Delito eliminado!");
                        actualizarDelitos(); 
                    })
                    .catch((error) => {
                        console.error("Error al eliminar el delito:", error);
                        alert("Hubo un error al eliminar el delito.");
                    });
            }
        
            // EDITAR DELITO
            function editarDelito(numeroDelito) {
                fetch(`http://127.0.0.1:3002/api/v1/delitos/${numeroDelito}`)
                    .then((response) => response.json())
                    .then((delito) => {
                        document.getElementById("criminal_id").value = delito.criminal_id;
                        document.getElementById("descripcion").value = delito.descripcion;
                        document.getElementById("fecha").value = delito.fecha;
                        document.getElementById("sentencia").value = delito.sentencia_judicial;
                        document.getElementById("lugarDelito").value = delito.lugarDelito;
                        document.getElementById("estadoDelito").value = delito.estadoDelito;
                        document.getElementById("prioridad").value = delito.nivelPrioridad;
        
                        document.getElementById("formDelito").dataset.action = "update";
                        document.getElementById("formDelito").dataset.numeroDelito = numeroDelito;
        
                        document.getElementById("formularioDelito").style.display = "block";
                    });
            }
        
            window.addEventListener("load", actualizarDelitos);
        </script>
        
    </body>
</html>
