<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/estilo.css" type="text/css" />
		<title>Arkham Asylum</title>
	</head>
	<body>
		<div class="contenedor">

					
			<nav>
				<ul>
					<li><a href="inicio.html">Inicio</a></li>
					<li><a href="criminales.html">Criminales</a></li>
					<li><a href="delitos.html">Delitos</a></li>
					<li><a href="celdas.html">Celdas</a></li>
					<li><a href="personal.html">Personal</a></li>
                    <li class="cargar"><a href="cargar_criminal.html">Cargar Criminal</a></li>
				</ul>
			</nav>
			<main>
				<header>
					<div class="header-overlay">
						<div class="header-text">
							<h1>Arkham Asylum</h1>
							<p>Centro de rehabilitación y tratamiento de individuos con trastornos extremos.</p>
						</div>
					</div>
				</header>
				<section class="secciones">
					<p class="titulos">Arkhan System</p>
					<p>
                        Asilo Arkham, líder mundial en el tratamiento y rehabilitación de individuos con trastornos mentales extremos. Desde 1921, nuestra misión ha sido proporcionar atención especializada combinando ciencia avanzada, seguridad de máxima categoría y un profundo compromiso con la recuperación de nuestros pacientes.
					</p>
				</section>
				<section class="secciones">
					<p class="titulos">Informacion general</p>
					lego batman

				</section>
				<section class="seccion-delitos">
					<h2 class="titulos">Lista de Delitos</h2>
					<ul class="lista-delitos">
						<li>
							<span class="nombre">Oswald Cobblepot</span>
							<span class="apodo">(El Pingüino)</span> - Contrabando de armas y extorsión
						</li>
						<li>
							<span class="nombre">Harleen Quinzel</span>
							<span class="apodo">(Harley Quinn)</span> - Secuestro y asalto agravado
						</li>
						<li>
							<span class="nombre">Edward Nigma</span>
							<span class="apodo">(El Acertijo)</span> - Cibercrimen y chantaje
						</li>
						<li>
							<span class="nombre">Pamela Isley</span>
							<span class="apodo">(Hiedra Venenosa)</span> - Eco-terrorismo
						</li>
						<li>
							<span class="nombre">Jonathan Crane</span>
							<span class="apodo">(El Espantapájaros)</span> - Uso de sustancias tóxicas y experimentos ilegales
						</li>
						<li>
							<span class="nombre">Waylon Jones</span>
							<span class="apodo">(Killer Croc)</span> - Asesinato y canibalismo
						</li>
						<li>
							<span class="nombre">Selina Kyle</span>
							<span class="apodo">(Gatúbela)</span> - Robo de arte y joyas
						</li>
						<li>
							<span class="nombre">Victor Fries</span>
							<span class="apodo">(Mr. Freeze)</span> - Robo de tecnología avanzada y sabotaje
						</li>
						<li>
							<span class="nombre">Jervis Tetch</span>
							<span class="apodo">(Sombrerero Loco)</span> - Secuestro y manipulación mental
						</li>
						<li>
							<span class="nombre">Roman Sionis</span>
							<span class="apodo">(Máscara Negra)</span> - Crimen organizado y tortura
						</li>
					</ul>
				</section>

				<section class="secciones">
					<p class="titulos">Delitos</p>
					<table class="tabla-delitos">
						<thead>
							<tr>
								<th>Criminal n°</th>
								<th>Descripcion</th>
								<th>Fecha</th>
								<th>Sentencia</th>
								<th>Lugar</th>
								<th>Estado</th>
								<th>Prioridad</th>


							</tr>
						</thead>
						<tbody id="delitos-data">
						</tbody>
					</table>
				</section>
			</main>

			<footer>
				<p>hecho por batman</p>
			</footer>
		</div>
		<script>
			fetch('http://127.0.0.1:3002/api/v1/delitos')
			.then(response => response.json())
			.then(delitos => {
				console.log(delitos);
	
				let tabla = document.getElementById('delitos-data');
				delitos.forEach(delito => {
					let tr = document.createElement('tr');
	
					let criminal_id = document.createElement('td');
					criminal_id.textContent = delito.criminal_id;  
	
					let descripcion = document.createElement('td');
					descripcion.textContent = delito.descripcion;
	
					let fecha = document.createElement('td');
					fecha.textContent = delito.fecha;  
	
					let sentencia_judicial = document.createElement('td');
					sentencia_judicial.textContent = delito.sentencia_judicial;  
	
					let lugarDelito = document.createElement('td');
					lugarDelito.textContent = delito.lugarDelito;

					let estadoDelito = document.createElement('td');
					estadoDelito.textContent = delito.estadoDelito;
					

					let nivelPrioridad = document.createElement('td');
					nivelPrioridad.textContent = delito.nivelPrioridad;
	
					tr.appendChild(criminal_id);
					tr.appendChild(descripcion);
					tr.appendChild(fecha);
					tr.appendChild(sentencia_judicial);
					tr.appendChild(lugarDelito);
					tr.appendChild(estadoDelito);
					tr.appendChild(nivelPrioridad);
 

					tabla.appendChild(tr);  
				});
			})
		</script>
	</body>
</html>