<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/estilo.css" type="text/css" />
		<title>Arkham Asylum</title>
	</head>
	<body>
		<div class="contenedor">

			<nav>
				<ul>
					<li><a href="inicio.html">Inicio</a></li>
					<li><a href="criminales.html">Criminales</a></li>
					<li><a href="delitos.html">Delitos</a></li>
					<li><a href="celdas.html">Celdas</a></li>
					<li><a href="personal.html">Personal</a></li>
                    <li><a href="cargar_criminal.html">Cargar Criminal</a></li>
				</ul>
			</nav>
			<main>
				<header>
					<div class="header-overlay">
						<div class="header-text">
							<h1>Arkham Asylum</h1>
							<p>Centro de rehabilitación y tratamiento de individuos con trastornos extremos.</p>
						</div>
					</div>
				</header>
				<section class="secciones">
					<p class="titulos">Arkhan System</p>
					<p>
                        Asilo Arkham, líder mundial en el tratamiento y rehabilitación de individuos con trastornos mentales extremos. Desde 1921, nuestra misión ha sido proporcionar atención especializada combinando ciencia avanzada, seguridad de máxima categoría y un profundo compromiso con la recuperación de nuestros pacientes.
					</p>
				</section>
				<section class="secciones">
					<p class="titulos">Informacion general</p>
					lego batman

				</section>
			</main>

			<footer>
				<p>hecho por batman</p>
			</footer>
		</div>
	</body>
</html>